body {
    background-color: aliceblue;
}
h1 {
    margin: 0;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slideContainer {
    display: flex;
}
.colors > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.color {
    height: 30px;
    width: 100px;
    margin: 5px 10px;
    border: 2px solid black;
}
.selectedColor {
    border: 5px solid gold;
}
#black {
    background-color: black;
}
#white {
    background-color: white;
}
#red {
    background-color: red;
}
#orange {
    background-color: orange;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
#etch {
    height: 400px;
    width: 400px;
    /*background-color: blue;*/
    background-image: url(images/cat.jpg);
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 100%;
}

.cell {
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
    min-height: 0;
    flex-shrink: 1;
    background-color: white;
}

.filled {
    background-color: transparent;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.buttons > button {
    width: 100px;
    padding: 10px;
}

.selected {
    background-color: darkgray;
}

.instructions {
    display: none;
    margin: 10px;
}
/*
#showInstructions {
    display: none;
}*/

.instructionBox {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 380px;
    padding: 10px;
    margin: 10px;
    background-color: lightyellow;

}